.docs__list_main_contain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.docs__list_main_contain > h1 {
  color: #ffff;
  font-family: "Ubuntu";
  font-weight: 600;
  font-size: 2rem;
}
.doctors__cards_container {
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.doc__card{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 #9D3C72;
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.8rem;
  border: 1px solid #ffff;
}
.doc__name_card {
  font-size: 1rem;
  color: #ffff;
  font-family: "Ubuntu";
  font-weight: 500;
}
.doc__quali_card {
  font-size: 0.8rem;
  color: #ffff;
  font-family: "Ubuntu";
  font-weight: 400;
}

.doctor_card {
  display: flex;
  width: 15rem;
  height: 16rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(157, 60, 114, 0.8);
  backdrop-filter: blur(25px);
}

.doctor_card > img {
  width: 100%;
  height: 12rem;
  border-radius: 20px;
  top: 0;
}
.doctor_card > img:hover{
  transform: translateY(-10%);
  transition: opacity 0.5s ease-in,transform 0.5s ease-out;
}
.doc__profile__main {
  display: flex;
  border-radius: 20px;
  width: 80%;
  z-index: 1;
  border: 2px solid #ffff;
  backdrop-filter: blur(25px);
  flex-direction: row;
  justify-content: space-between;
  /* padding: 2rem; */
}
.image__section_profile {
  display: flex;
  /* height: 10rem; */
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  background: rgba(157, 60, 114, 0.8);
  backdrop-filter: blur(25px);
}
.image__section_profile > img {
  height: 10rem;
  width: 13rem;
  border-radius: 20px 20px 20px 20px;
}
.image__section_profile >p{
  font-family: 'Ubuntu';
  text-transform: capitalize;
  font-size: 1rem;
  color: #ffff;
}
.personal__doc_profile_info{
  display: flex;
  flex-direction: column;
  color: #ffff;
}
.doc_name_inside_profile{
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 600;
}

.book__appt_profile{
  height: 100%;
  display: flex;
  flex-direction: column;
padding: 2rem;
}
.book__apt_btn{
  width: 10rem;
  height: 2rem;
  background: #FFBABA;
border-radius: 10px;
color: #9d3c72;
border: none;
cursor: pointer;

}
.book__apt_btn:hover{
  transform: scale(1.2);
}