.profile__main_pg {
  width: 100vw;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__card_details_sect > button{
  cursor: pointer;
}
.profile__card {
  z-index: 1;
  /* gap: 2rem; */
  align-items: center;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 40%;
  display: flex;
  flex-direction: column;
}
.apt__booked_data {
  display: flex;
  z-index: 1;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 1rem;
}
.apt__booked_data >span{
  z-index: 1;
}
.profile__card_details_sect {
  display: flex;
  flex-direction: column;
}
.meet_link{
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  z-index: 1;
}

.profile__card > img {
  border-radius: 19%;
  height: 12rem;
  width: 15rem;
}
.profile__card_details_sect >p{
  font-size: 1rem;
  font-family: 'Ubuntu';
  font-weight: 600;
  color: #FFFF;
}
.profile__card_details_sect > button{
  width: 10rem;
    border-radius: 20px;
    border: none;
    height: 2rem;
    color: #7B2869;
    background: #FFBABA;
}
.booking__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
.profile__activ_box {
  width: 80%;
  /* height: 10rem; */
  background: white;
  font-size: 25px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  text-align: justify;
  border-radius: 19px;
  margin: 10px;
  border-style: solid;
  border: 1px solid #9d3c72;
}

.profile__head {
  background-color: rgba(242, 220, 225, 0.65);
  border-top-right-radius: 19px;
  border-top-left-radius: 19px;
  padding: 0.5rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7b2869;
  font-family: "Ubuntu";
  font-size: 1.5rem;
}
.prchs__history_heading{
  color: #FFBABA;;
  font-size: 1.5rem;
  font-family: 'Ubuntu';

}

.prchs__history_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}