.profile__main_pg{
    width: 100vw;
    height: 82vh;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
}
.profile__card{
    height: 100%;
    width: fit-content;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background: rgba(242, 220, 225, 0.65);
    padding: 2rem;
    align-items: center;
}
.profile__card >img{
    border-radius: 50%;

}