.landing__main_container {
  width: 100vw;
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  align-items: center;
  bottom: 0;
  
}
.landing__desc_part{
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: 'Ubuntu';
  z-index: 1;

}
.landing__desc_part >h1{
  color: #FFFF;
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: 600;
}
.landing__desc_part >p{
  color: #FFFF;
  font-family: 'Ubuntu';
  font-size: 1rem;
  font-weight: 400;
}