.nav__holder__out {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  padding-top: 2rem;
  flex-direction: row;
  z-index:1;
  justify-content: center;
}
.nav__main_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000000000;
  background: rgb(123, 40, 105);
  background: linear-gradient(180deg, rgba(123, 40, 105, 1) 81%);
  border-radius: 50px;
}
.nav__main_container > img {
  border-radius: 50%;
  height: 60px;
  color: #ffff;
}
.nav__main_container > a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
