.App {
  overflow: hidden;
  min-height: 100vh;
}
.btm__vector_c {
  width: 100%;
  display: flex;
  background: none;
  justify-content: flex-end;
  flex-direction: row;
}
@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -180px 0px;
  }
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -180px 0px;
  }
}
